[Service]
Environment={% if "http_proxy" in calc_proxy_env %}"HTTP_PROXY={{ calc_proxy_env.http_proxy }}" {% endif %}  {% if "https_proxy" in calc_proxy_env %}  "HTTPS_PROXY={{ calc_proxy_env.https_proxy }}" {% endif %}  {% if "http_proxy" in calc_proxy_env or "https_proxy" in calc_proxy_env %}  "NO_PROXY=localhost,{{ inventory_hostname }},{{ ansible_default_ipv4.address }}" {% endif %}
